.profile-section-title {
    font-weight: 700;
}
.section-content-container {
    margin-top: 14px;
}
.section-content-container.body {
    margin-top: 12px;
}
.profile-section + .profile-section {
    margin-top: 40px;
}

.segment {
    display: flex;
}
.segment + .segment {
    /* margin-top: 14px; */
}
.segment-title {
    flex: 0 0 80px;
}
.section-content-segment {
    position: relative;
}
.external-link {
    background-image: url('/media/svg/external-link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.slides-wrapper {    
    --slide-count: 1;
    --slide-width: 100vw;
    --slide-idx: 0;
    width: var(--slide-width);
    position: relative;
    left: calc((100% - var(--slide-width)) / 2);
    overflow: hidden;
}
.slides-spring {
    width: calc(var(--slide-width)* var(--slide-count));
    transform: translate3d(calc(-1 * var(--slide-idx) * var(--slide-width)), 0, 0);
    transition: transform .25s;
    display: flex;
}
.slide {
    width: var(--slide-width);
    height: var(--slide-width);
    position: relative;
}
.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit:cover;
}
.profile-header {
    padding: 30px 0 40px 0;
}
.profile-title {
    margin-top: 5px;
    color: #000;
}
.profile-name-and-title {
    float: left;
    max-width: 50%;
}
.profile-slogan {
    position: relative;
    line-height: 1.2;
    float: right;
    max-width: 50%;
}
.profile-slogan:before,
.profile-slogan:after {
    --x-shift: 15px;
    --y-shift: 15px;
    content: '';
    position: absolute;
    width: 34px;
    height: 38px;
    background-image: url(/media/svg/slogan-ornament.svg);
    z-index: 1;
}
.profile-slogan:before {
    
    left: calc(-1 * var(--x-shift));
    top: calc( 50% - var(--y-shift));
    transform: translate(0, -50%);
}
.profile-slogan:after {
    right: calc(-1 * var(--x-shift));
    top: calc( 50% + var(--y-shift));
    transform: translate(0, -50%);
} 
.profile-slogan-span {
    position: relative;
    z-index: 5;
}
.carousel-container {
    position: relative;
}
.dot {
    --color: var(--dark-blue);
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid var(--color);
}
.dot.active {
    background-color: var(--color);
}
.carousel-dots-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    gap: 10px;
}
.carousel-overlay-button {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}
.carousel-overlay-button.prev-button {
    left: 0;
}
.carousel-overlay-button.next-button {
    right: 0;
}
.profile-controls-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}
.profile-prev-button,
.profile-next-button {
    flex: 0 0 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
}
.profile-prev-button {
    background-image: url(/media/svg/arrow-left.svg);
}
.profile-next-button {
    background-image: url(/media/svg/arrow-right.svg);
}
.profile-toolbar {
    display: flex;
    position: absolute;
    top: 5px;
    z-index: 10;
    right: -10px;
    gap: 10px;
}
.archive-button,
.share-button {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
}
.archive-button[data-archived="0"] {
    background-image: url(/media/svg/archive-unsaved.svg);
}
.archive-button[data-archived="1"] {
    background-image: url(/media/svg/archive-saved.svg);
}
.share-button {
    background-image: url(/media/svg/share.svg);
}
.profile-container {
    padding-bottom: 100px;
}
@media screen and (min-width: 500px){
    .slides-wrapper {
        --slide-width: 375px;
    }
}